<h4>Register</h4>

<p class="mb-4">Welcome Back! Please enter your details</p>

<form [formGroup]="registerForm" class="row mx-0">
  <div class="col-12 mb-3">
    <div class="input-group mx-auto dropzone-container">
      <ngx-dropzone
        class="justify-content-center"
        (change)="selectImage($event)"
        [disableClick]="files.length > 0"
      >
        <ngx-dropzone-label>Upload photo</ngx-dropzone-label>

        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
          [removable]="true"
          (removed)="removeImage(f)"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

    <small class="text-danger" *ngIf="filesError"
      >You should upload profile picture</small
    >
  </div>

  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control input-lg"
        placeholder="username"
        formControlName="userName"
      />
    </div>

    <div
      *ngIf="
        registerForm.controls.userName.touched &&
        registerForm.controls.userName.errors
      "
    >
      <ng-container [ngSwitch]="registerForm.controls.userName | errorMessages">
        <small class="text-danger" *ngSwitchCase="'required'"
          >Username is required</small
        >
        <small class="text-danger" *ngSwitchCase="'minlength'"
          >Username should be at least 4 characters</small
        >
        <small class="text-danger" *ngSwitchCase="'maxlength'"
          >Username should be at most 8 characters</small
        >
        <small class="text-danger" *ngSwitchCase="'pattern'"
          >Username must contain characters and end with numbers without
          spaces</small
        >
      </ng-container>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="far fa-envelope"></i>
        </span>
      </div>
      <input
        type="email"
        class="form-control input-lg"
        placeholder="email"
        formControlName="email"
      />
    </div>

    <div
      *ngIf="
        registerForm.controls.email.touched &&
        registerForm.controls.email.errors
      "
    >
      <ng-container [ngSwitch]="registerForm.controls.email | errorMessages">
        <small class="text-danger" *ngSwitchCase="'required'"
          >Email is required</small
        >
        <small class="text-danger" *ngSwitchCase="'email'"
          >Enter valid email</small
        >
      </ng-container>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-globe-europe"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control input-lg"
        placeholder=" country"
        formControlName="country"
      />
    </div>

    <div
      *ngIf="
        registerForm.controls.country.touched &&
        registerForm.controls.country.errors
      "
    >
      <ng-container [ngSwitch]="registerForm.controls.country | errorMessages">
        <small class="text-danger" *ngSwitchCase="'required'"
          >Country is required</small
        >
      </ng-container>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-mobile-screen-button"></i>
        </span>
      </div>
      <input
        type="tel"
        class="form-control input-lg"
        placeholder=" phone number"
        formControlName="phoneNumber"
      />
    </div>

    <div
      *ngIf="
        registerForm.controls.phoneNumber.touched &&
        registerForm.controls.phoneNumber.errors
      "
    >
      <ng-container
        [ngSwitch]="registerForm.controls.phoneNumber | errorMessages"
      >
        <small class="text-danger" *ngSwitchCase="'required'"
          >Phone number is required</small
        >
      </ng-container>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <input
        [type]="passwordShown ? 'text' : 'password'"
        class="form-control input-lg"
        placeholder="password"
        formControlName="password"
      />
      <div class="input-group-append">
        <span class="input-group-text" (click)="passwordShown = !passwordShown">
          <i [ngClass]="passwordShown ? 'far fa-eye' : 'far fa-eye-slash'"></i>
        </span>
      </div>
    </div>

    <div
      *ngIf="
        registerForm.controls.password.touched &&
        registerForm.controls.password.errors
      "
    >
      <ng-container [ngSwitch]="registerForm.controls.password | errorMessages">
        <small class="text-danger" *ngSwitchCase="'required'"
          >Password is required</small
        >
        <small class="text-danger" *ngSwitchCase="'minlength'"
          >Password should be at least 4 characters</small
        >
        <small class="text-danger" *ngSwitchCase="'pattern'"
          >Password should contain at least 1 lowercase 1 uppercase 1 number and
          1 special character</small
        >
      </ng-container>
    </div>
  </div>

  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <input
        [type]="confirmPasswordShown ? 'text' : 'password'"
        class="form-control input-lg"
        placeholder="confirm password"
        formControlName="confirmPassword"
      />
      <div class="input-group-append">
        <span
          class="input-group-text"
          (click)="confirmPasswordShown = !confirmPasswordShown"
        >
          <i
            [ngClass]="confirmPasswordShown ? 'far fa-eye' : 'far fa-eye-slash'"
          ></i>
        </span>
      </div>
    </div>

    <div
      *ngIf="
        registerForm.controls.confirmPassword.touched &&
        registerForm.controls.confirmPassword.errors
      "
    >
      <ng-container
        [ngSwitch]="registerForm.controls.confirmPassword | errorMessages"
      >
        <small class="text-danger" *ngSwitchCase="'required'"
          >Confirm password is required</small
        >
        <small class="text-danger" *ngSwitchCase="'minlength'"
          >Confirm password should be at least 4 characters</small
        >
        <small class="text-danger" *ngSwitchCase="'pattern'"
          >Confirm password should contain at least 1 lowercase 1 uppercase 1
          number and 1 special character</small
        >
      </ng-container>
      <small
        class="text-danger"
        *ngIf="
          registerForm.controls.confirmPassword.touched &&
          !registerForm.controls.confirmPassword.errors &&
          registerForm.errors?.['notMatch']
        "
        >Confirm password must match password</small
      >
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end mb-4">
    <a [routerLink]="'/auth/login'" class="text-primary"
      >Already have account login?</a
    >
  </div>

  <button class="w-100 py-2 btn btn-primary" (click)="submit()">
    Register
  </button>
</form>
