<h4>Log In</h4>

<p class="mb-4">Welcome Back! Please enter your details</p>

<form [formGroup]="forgetPasswordForm">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-mobile-screen-button"></i>
      </span>
    </div>
    <input
      type="email"
      class="form-control input-lg"
      placeholder="Enter your E-mail"
      formControlName="email"
    />
  </div>

  <div
    *ngIf="
      forgetPasswordForm.controls.email.touched &&
      forgetPasswordForm.controls.email.errors
    "
  >
    <ng-container
      [ngSwitch]="forgetPasswordForm.controls.email | errorMessages"
    >
      <small class="text-danger" *ngSwitchCase="'required'"
        >Email is required</small
      >
      <small class="text-danger" *ngSwitchCase="'email'"
        >Enter valid email</small
      >
    </ng-container>
  </div>

  <div class="d-flex justify-content-between mt-2 mb-4">
    <label>Register Now?</label>
    <label class="text-primary">Forgot Password?</label>
  </div>

  <button class="w-100 py-2 btn btn-primary" (click)="submit()">Submit</button>
</form>
