<h4>Forgot Your Password?</h4>

<p class="mb-4">
  No worries! Please enter your email and we will send a password reset link
</p>

<form [formGroup]="forgetPasswordForm">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-mobile-screen-button"></i>
      </span>
    </div>
    <input
      type="email"
      class="form-control input-lg"
      placeholder="Enter your E-mail"
      formControlName="email"
    />
  </div>

  <div
    *ngIf="
      forgetPasswordForm.controls.email.touched &&
      forgetPasswordForm.controls.email.errors
    "
  >
    <ng-container
      [ngSwitch]="forgetPasswordForm.controls.email | errorMessages"
    >
      <small class="text-danger" *ngSwitchCase="'required'"
        >Email is required</small
      >
      <small class="text-danger" *ngSwitchCase="'email'"
        >Enter valid email</small
      >
    </ng-container>
  </div>

  <button class="w-100 py-2 mt-3 btn btn-primary" (click)="submit()">
    Submit
  </button>
</form>
