<h4>Reset Password</h4>

<p class="mb-4">Please Enter Your seed or Check Your Inbox</p>

<form [formGroup]="resetPasswordForm">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="far fa-envelope"></i>
      </span>
    </div>
    <input
      type="email"
      class="form-control input-lg"
      placeholder="email"
      formControlName="email"
    />
  </div>

  <div
    *ngIf="
      resetPasswordForm.controls.email.touched &&
      resetPasswordForm.controls.email.errors
    "
  >
    <ng-container [ngSwitch]="resetPasswordForm.controls.email | errorMessages">
      <small class="text-danger" *ngSwitchCase="'required'"
        >Email is required</small
      >
      <small class="text-danger" *ngSwitchCase="'email'"
        >Enter valid email</small
      >
    </ng-container>
  </div>

  <div class="input-group mt-4">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-fingerprint"></i> </span>
    </div>
    <input
      type="text"
      class="form-control input-lg"
      placeholder=" seed"
      formControlName="seed"
    />
  </div>

  <div
    *ngIf="
      resetPasswordForm.controls.seed.touched &&
      resetPasswordForm.controls.seed.errors
    "
  >
    <ng-container [ngSwitch]="resetPasswordForm.controls.seed | errorMessages">
      <small class="text-danger" *ngSwitchCase="'required'"
        >seed is required</small
      >
    </ng-container>
  </div>

  <div class="input-group mt-4">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-lock"></i>
      </span>
    </div>
    <input
      [type]="passwordShown ? 'text' : 'password'"
      class="form-control input-lg"
      placeholder="password"
      formControlName="password"
    />
    <div class="input-group-append">
      <span class="input-group-text" (click)="passwordShown = !passwordShown">
        <i [ngClass]="passwordShown ? 'far fa-eye' : 'far fa-eye-slash'"></i>
      </span>
    </div>
  </div>

  <div
    *ngIf="
      resetPasswordForm.controls.password.touched &&
      resetPasswordForm.controls.password.errors
    "
  >
    <ng-container
      [ngSwitch]="resetPasswordForm.controls.password | errorMessages"
    >
      <small class="text-danger" *ngSwitchCase="'required'"
        >Password is required</small
      >
      <small class="text-danger" *ngSwitchCase="'minlength'"
        >Password should be at least 4 characters</small
      >
      <small class="text-danger" *ngSwitchCase="'pattern'"
        >Password should contain at least 1 lowercase 1 uppercase 1 number and 1
        special character</small
      >
    </ng-container>
  </div>

  <div class="input-group mt-4">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-lock"></i>
      </span>
    </div>
    <input
      [type]="confirmPasswordShown ? 'text' : 'password'"
      class="form-control input-lg"
      placeholder="confirm password"
      formControlName="confirmPassword"
    />
    <div class="input-group-append">
      <span
        class="input-group-text"
        (click)="confirmPasswordShown = !confirmPasswordShown"
      >
        <i [ngClass]="passwordShown ? 'far fa-eye' : 'far fa-eye-slash'"></i>
      </span>
    </div>
  </div>

  <div
    *ngIf="
      resetPasswordForm.controls.confirmPassword.touched &&
      resetPasswordForm.controls.confirmPassword.errors
    "
  >
    <ng-container
      [ngSwitch]="resetPasswordForm.controls.confirmPassword | errorMessages"
    >
      <small class="text-danger" *ngSwitchCase="'required'"
        >Confirm Password is required</small
      >
      <small class="text-danger" *ngSwitchCase="'minlength'"
        >Confirm Password should be at least 4 characters</small
      >
      <small class="text-danger" *ngSwitchCase="'pattern'"
        >Confirm Password should contain at least 1 lowercase 1 uppercase 1
        number and 1 special character</small
      >
    </ng-container>
    <small
      class="text-danger"
      *ngIf="
          resetPasswordForm.controls.confirmPassword.touched &&
          !resetPasswordForm.controls.confirmPassword.errors &&
          resetPasswordForm.errors?.['notMatch']
        "
      >Confirm password must match password</small
    >
  </div>

  <div class="d-flex justify-content-end mt-3 mb-4">
    <a class="text-primary">Forgot Password?</a>
  </div>

  <button class="w-100 py-2 btn btn-primary" (click)="submit()">
    Reset Password
  </button>
</form>
