<div class="p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 mat-dialog-title>Change Password</h1>
    <mat-icon mat-dialog-close class="text-danger">cancel</mat-icon>
  </div>

  <form [formGroup]="changePasswordForm">
    <div class="mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input
          [type]="oldPasswordShown ? 'text' : 'password'"
          class="form-control input-lg"
          placeholder="password"
          formControlName="oldPassword"
        />
        <div class="input-group-append">
          <span
            class="input-group-text"
            (click)="oldPasswordShown = !oldPasswordShown"
          >
            <i
              [ngClass]="oldPasswordShown ? 'far fa-eye' : 'far fa-eye-slash'"
            ></i>
          </span>
        </div>
      </div>

      <div
        *ngIf="
          changePasswordForm.controls.oldPassword.touched &&
          changePasswordForm.controls.oldPassword.errors
        "
      >
        <ng-container
          [ngSwitch]="changePasswordForm.controls.oldPassword | errorMessages"
        >
          <small class="text-danger" *ngSwitchCase="'required'"
            >Old Password is required</small
          >
          <small class="text-danger" *ngSwitchCase="'minlength'"
            >Password should be at least 4 characters</small
          >
          <small class="text-danger" *ngSwitchCase="'pattern'"
            >Password should contain at least 1 lowercase 1 uppercase 1 number
            and 1 special character</small
          >
        </ng-container>
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input
          [type]="newPasswordShown ? 'text' : 'password'"
          class="form-control input-lg"
          placeholder="password"
          formControlName="newPassword"
        />
        <div class="input-group-append">
          <span
            class="input-group-text"
            (click)="newPasswordShown = !newPasswordShown"
          >
            <i
              [ngClass]="newPasswordShown ? 'far fa-eye' : 'far fa-eye-slash'"
            ></i>
          </span>
        </div>
      </div>

      <div
        *ngIf="
          changePasswordForm.controls.newPassword.touched &&
          changePasswordForm.controls.newPassword.errors
        "
      >
        <ng-container
          [ngSwitch]="changePasswordForm.controls.newPassword | errorMessages"
        >
          <small class="text-danger" *ngSwitchCase="'required'"
            >New Password is required</small
          >
          <small class="text-danger" *ngSwitchCase="'minlength'"
            >Password should be at least 4 characters</small
          >
          <small class="text-danger" *ngSwitchCase="'pattern'"
            >Password should contain at least 1 lowercase 1 uppercase 1 number
            and 1 special character</small
          >
        </ng-container>
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <input
          [type]="confirmPasswordShown ? 'text' : 'password'"
          class="form-control input-lg"
          placeholder="confirm password"
          formControlName="confirmNewPassword"
        />
        <div class="input-group-append">
          <span
            class="input-group-text"
            (click)="confirmPasswordShown = !confirmPasswordShown"
          >
            <i
              [ngClass]="
                confirmPasswordShown ? 'far fa-eye' : 'far fa-eye-slash'
              "
            ></i>
          </span>
        </div>
      </div>

      <div
        *ngIf="
          changePasswordForm.controls.confirmNewPassword.touched &&
          changePasswordForm.controls.confirmNewPassword.errors
        "
      >
        <ng-container
          [ngSwitch]="
            changePasswordForm.controls.confirmNewPassword | errorMessages
          "
        >
          <small class="text-danger" *ngSwitchCase="'required'"
            >Confirm password is required</small
          >
          <small class="text-danger" *ngSwitchCase="'minlength'"
            >Confirm password should be at least 4 characters</small
          >
          <small class="text-danger" *ngSwitchCase="'pattern'"
            >Confirm password should contain at least 1 lowercase 1 uppercase 1
            number and 1 special character</small
          >
        </ng-container>
        <small
          class="text-danger"
          *ngIf="
          changePasswordForm.controls.confirmNewPassword.touched &&
          !changePasswordForm.controls.confirmNewPassword.errors &&
          changePasswordForm.errors?.['notMatch']
        "
          >Confirm password must match new password</small
        >
      </div>
    </div>

    <button class="w-100 py-2 btn btn-primary" (click)="submit()">
      Submit
    </button>
  </form>
</div>
