<h4>Log In</h4>

<p class="mb-4">Welcome Back! Please enter your details</p>

<form [formGroup]="loginForm">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-mobile-screen-button"></i>
      </span>
    </div>
    <input
      type="email"
      class="form-control input-lg"
      placeholder="Enter your E-mail"
      formControlName="email"
    />
  </div>

  <div
    *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors"
  >
    <ng-container [ngSwitch]="loginForm.controls.email | errorMessages">
      <small class="text-danger" *ngSwitchCase="'required'"
        >Email is required</small
      >
      <small class="text-danger" *ngSwitchCase="'email'"
        >Enter valid email</small
      >
    </ng-container>
  </div>

  <div class="input-group mt-4">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-lock"></i>
      </span>
    </div>
    <input
      [type]="passwordShown ? 'text' : 'password'"
      class="form-control input-lg"
      placeholder="Password"
      formControlName="password"
    />
    <div class="input-group-append">
      <span class="input-group-text" (click)="togglePasswordVisibility()">
        <i [ngClass]="passwordShown ? 'far fa-eye' : 'far fa-eye-slash'"></i>
      </span>
    </div>
  </div>

  <div
    *ngIf="
      loginForm.controls.password.touched && loginForm.controls.password.errors
    "
  >
    <ng-container [ngSwitch]="loginForm.controls.password | errorMessages">
      <small class="text-danger" *ngSwitchCase="'required'"
        >Password is required</small
      >
      <small class="text-danger" *ngSwitchCase="'minlength'"
        >Password should be at least 4 characters</small
      >
      <small class="text-danger" *ngSwitchCase="'pattern'"
        >Password should contain at least 1 lowercase 1 uppercase 1 number and 1
        special character</small
      >
    </ng-container>
  </div>

  <div class="d-flex justify-content-between mt-2 mb-4">
    <label [routerLink]="'/auth/register'">Register Now?</label>
    <label class="text-primary">Forgot Password?</label>
  </div>

  <button class="w-100 py-2 btn btn-primary" (click)="onSubmit()">Login</button>
</form>
