.auth-container {
  min-height: 100vh;

  background: url("../../../../assets/images/auth-bg.avif"), rgba(#000, 65%);
  background-size: cover;
  background-position-y: center;
  background-blend-mode: overlay;
}
