<aside class="sidebar">
  <img
    class="mt-3 mb-5"
    src="../../../../../../assets/images/logo-without-text.svg"
  />

  <ul class="list-group">
    <ng-container *ngFor="let route of routes">
      <li
        *ngIf="route.present"
        class="list-group-item px-4 py-3 d-flex align-items-center"
        [routerLink]="route.routeTo"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        <i [class]="route.iconClass"></i>
        <span class="mx-2">{{ route.text }}</span>
      </li>
    </ng-container>
  </ul>
</aside>
