.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: white !important;
}

.btn-outline-primary {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;

  &:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
  }
}

.btn {
  font-weight: 500 !important;
}
