h1,
h2,
h3 {
  font-family: Inter-Bold;
}

h4,
h5,
label {
  font-family: Inter-Medium;
}

p,
span {
  font-family: Inter;
}

h4 {
  font-size: 25px !important;

  font-weight: 700;
}

input {
  background-color: #f7f7f7 !important;
}
