<div class="px-4">
  <div
    class="banner p-3 border d-flex justify-content-between align-items-center rounded-4"
  >
    <div class="px-4">
      <h1>Users Items!</h1>
      <p>
        You can now add your items that any user can order it from <br />the
        Application and you can edit
      </p>
    </div>
    <img src="../../../../../../../../../assets/images/banner-2.svg" />
  </div>

  <div class="my-4 d-flex justify-content-between align-items-center">
    <div>
      <h5>User Table Details</h5>
      <p class="mb-0">You can check all details</p>
    </div>
  </div>

  <form
    [formGroup]="filterForm"
    class="my-4 row mx-0 align-items-center"
  >
    <div class="col-md-8 px-0 row mx-0 align-items-center">
      <div class="col-6 px-2">
        <mat-form-field class="w-100">
          <mat-select formControlName="searchKey" placeholder="Search by">
            <mat-option *ngFor="let key of searchByKeys" [value]="key">{{
              key
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6 px-0">
        <mat-form-field class="w-100">
          <input formControlName="searchValue" matInput placeholder="Search" />
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-4 px-0 d-flex justify-content-end">
      <button
        mat-raised-button
        class="btn-primary text-white px-5"
        (click)="filter()"
      >
        Search
      </button>
      <button
        mat-raised-button
        class="btn-outline-primary text-white mx-2 px-5"
        (click)="resetFilter()"
      >
        Reset
      </button>
    </div>
  </form>

  <list
    [headers]="headers"
    [data]="usersList"
    [length]="length"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    (handleViewEvent)="openViewUser($event)"
    (handeDeleteEvent)="openDeleteUser($event)"
    (handlePageEvent)="handlePageEvent($event)"
  ></list>
</div>
